<div *ngIf="tracks">
    <div class="bg">
        <p>
            Tracks with {{trackName}}
        </p>
    </div>
    <app-song-details [track]="soundtrack" *ngFor="let soundtrack of tracks"></app-song-details>
    <div class="bg">
        <p>
            Albums with {{trackName}}
        </p>
    </div>
    <app-album-details [albumArray]="album" *ngFor="let album of albums"></app-album-details>
    <div class="bg">
        <p>
            Artists with {{trackName}}
        </p>
    </div>
    <app-artists [artistArray]="artist" *ngFor="let artist of artists"></app-artists>
</div>