.logo{
background-color: grey;
height: 26px;
}
.input{
    background-color: grey;
    font-size: 20px;
    border-width: 0px;
    outline: none;
}
#ip2 {
    margin: auto;
    margin-top: 20%;
    top: 50%;
    background-color: grey;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 300px;
    height: 60px;
}
#ip{
    height: 100px;
    align-items: center;
    justify-content: center;
}
.bg{
    background-color: black;
}