<div class="bg"> 
    <div flexLayout="row" class="row" id="ip">
        <div fxLayout="row" class="row" id="ip2">
            <div fxFlex="10%" class="logo">
                <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
            </div>
            <div fxFlex="70%">
                <input matInput type="text" placeholder="Search..." class="input"
                    (keyup.enter)="searchIt($event.target.value)">
            </div>
        </div>
    </div>
    <app-song-display *ngIf="trackName" [trackName]="trackName"></app-song-display>
    
</div>